# OS / Editor
.DS_Store
Thumbs.db
Desktop.ini

# IDE / Workspace
.vscode/
.idea/
*.code-workspace

# Environment / Logs
.env
.env.local
.env.*.local
*.log

# Node / Web
**/node_modules/
**/dist/
**/build/
**/.cache/
**/coverage/

# Flutter / Android / iOS
**/.dart_tool/
**/.flutter-plugins*
**/.packages
**/android/.gradle/
**/android/local.properties
**/ios/Pods/
**/ios/Flutter/ephemeral/

# .NET / Visual Studio
**/bin/
**/obj/
**/.vs/

# Misc
*.pid
*.pid.lock
