# OS / Editor
.DS_Store
Thumbs.db
Desktop.ini

# IDE / Workspace
.vscode/
.idea/
*.code-workspace

# Environment / Logs
.env
.env.local
.env.*.local
*.log

# Node / Web (incl. Angular)
**/node_modules/
**/dist/
**/build/
**/coverage/

# Flutter / Mobile
mobile/.dart_tool/
mobile/build/
mobile/.flutter-plugins*
mobile/android/.gradle/
mobile/android/local.properties
mobile/ios/Pods/
mobile/ios/Flutter/ephemeral/

# .NET / Visual Studio (authApi dahil)
**/bin/
**/obj/
**/.vs/
**/*.user
**/*.suo

# Local databases / misc
**/*.db
*.pid
*.pid.lock
